{% extends 'base.html' %}
{% load static %}
{% block title %}Assets{% endblock %}

{% block content %}
<div class="container">
    <div style="height:70px!important"></div>
    <div class="row">
        <div class="col-sm-8">
            {% for article in assets %}
            <div id="blog_article" class="row no-gutters overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success">{{ article.book.sub_category }}:{{ article.book }}</strong>
                    <h3 class="mb-0">{{ article.title_text }}</h3>
                    <div class="mb-1 text-muted"><i id="icon-blog" class="far fa-user"></i><span id="profile-blog">&nbsp;{{ article.written_by }}</span><i id="icon-blog" class="far fa-clock"></i><span id="profile-blog">&nbsp;{{ article.created|date:'Y/n/j' }}</span><i id="icon-blog" class="far fa-comment-dots"></i><span id="profile-blog">&nbsp;12 Comments</span></div>
                    <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" type="button" class="btn btn-sm btn-outline-dark stretched-link" style="width:90px;margin-top:18px;border-radius:15px">더 보기</a>
                </div>
                <div id="blog_article_thumbnail" class="col-auto d-none d-lg-block">
                    <div id="thumbnail_img" style="background-image:url('{{article.title_photo.url}}')"></div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-sm-4" style="padding-left:20px;padding-right:20px">
            <div class="sidebar_item mb-4" style="padding:20px">
                <h4 class="sidebar_title">Search</h4>
                <form>
                    <input class="form-control" type="text" style="display:inline;width:85%;position:relative;top:0;border-radius:0"><button type="submit" class="btn btn-info" style="display:inline;width:15%;position:relative;bottom:3px;border-radius:0"><i class="fa fa-search" style="color:white"></i></button>
                </form>
            </div>
            <div class="sidebar_item mb-4" style="padding:20px">
                <h4 class="sidebar_title">Category</h4>
                <ul>
                    <li>General</li>
                    <li>Life</li>
                </ul>
            </div>
            <div class="sidebar_item mb-4" style="padding:20px">
                <h4 class="sidebar_title">Recent Posts</h4>
                <ul>
                    <li>General</li>
                    <li>Life</li>
                </ul>
            </div>
            <div class="sidebar_item mb-4" style="padding:20px">
                <h4 class="sidebar_title">Tags</h4>
                <ul>
                    <li>General</li>
                    <li>Life</li>
                </ul>
            </div>
            <div class="sidebar_item mb-4" style="padding:20px">
                <h4 class="sidebar_title">Recent Comments</h4>
                <ul>
                    <li>General</li>
                    <li>Life</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}