{% extends 'base.html' %}

{% block title %}캐쉬 등록{% endblock %}

{% block content %}
<div class="container">
    <div style="height:70px!important"></div>
    <div class="row">
        <form action="" method="POST" autocomplete="off">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{form.as_p}}
            <input type="submit" class="btn btn-primary" value="등록">
        </form>
    </div>
</div>
<script>
    $(function () {
        $("#id_date").datepicker();
    });
</script>
{% endblock %}
