body {
    font-family: 'Noto Sans KR', sans-serif !important;
    height: calc(var(--vh, 1vh) * 100);
    margin: 0 auto;
}


#navbar {
    background-color: transparent !important;
    position: fixed !important;
    top:0 !important;
    z-index:800!important;
}

#navbar_title {
    font-family: 'Shadows Into Light', cursive !important;
    font-size:28px !important;
    color: white !important;
    text-shadow: 0px 0 4px black !important;
}

.btn_container {
  display: inline-block;
  cursor: pointer;
  border : 0px !important;
}

.btn_bar {
  width: 32px;
  height: 2px;
  background-color: white;
  margin: 5px 0;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 1) !important;
}

#sidebar_menu {
    font-weight:300!important;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    right: -250px;
    height: 100vh;
    z-index: 999;
    background: #fafafa;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: -3px -3px -3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    right: 0;
}

#sidebar_title {
    margin: 20px;
    color: #333 !important;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #fafafa;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: gray;
}

#dismiss:hover {
    background: #fafafa;
    color: #333;
}

.overlay {
    display: none;
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    padding-left: 20px;
    font-size: 1.1em;
    display: block;
    color: #333;
}

#sidebar ul li a:hover {
    color: gray;
    background: white;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#hero {
    width: 100% !important;
    height: 100vh !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    margin-bottom: -90px;
}

#hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#hero h1 {
    font-family: 'Noto Sans KR', sans-serif !important;
    margin: 0 0 10px 0;
    font-size: 52px;
    font-weight: 400;
    line-height: 64px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0px 0 4px black;
}

#hero h2 {
    color: #fff;
    margin-top: 15px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    text-shadow: 0px 0 4px black;
}

#hero_content {
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    margin-bottom: -90px;
}

/* ---------------------------------------------------
    BLOG STYLE
----------------------------------------------------- */

#blog_article {
    margin-right: 2px !important;
    margin-left: 2px !important;
    box-shadow: 0px 0 12px #CAC9D1 !important;
    transition: transform .35s;
    -o-transition: transform .35s;
    -moz-transition: transform .35s;
    -webkit-transition: transform .35s;
}

#blog_article:hover {
    background: #fafafa;
    -webkit-transform:scale(1.01); /*  크롬 */
    -moz-transform:scale(1.01); /* FireFox */
    -o-transform:scale(1.01); /* Opera */
    transform:scale(1.01);
    transition: transform .35s;
    -o-transition: transform .35s;
    -moz-transition: transform .35s;
    -webkit-transition: transform .35s;
}

#blog_article_thumbnail {
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    width:200px !important;
    height:250px !important;
}

#thumbnail_img {
    width:200px;
    height:250px;
    background-size:cover;
    background-position:center center;
}

#icon-blog {
    color:#7EB5D0;
}

#profile-blog {
    font-weight: 300;
    margin-right: 20px;
}

.tag {
    font-weight:300 !important;
    color:#25A07A !important;
    background-color:#D3F4EA !important;
    margin-right:6px;
}

.banner {
    height:100px;
    background-color:#D3F4EA;
    font-weight:300 !important;
    color:#25A07A;
}

.banner-post {
    height:75px;
    background-color:#D3F4EA;
    font-weight:300 !important;
    color:#25A07A;
}

.title_text {
    color:#11503D;
    font-weight:500;
}

.sub_text {
    color:#11503D;
    font-weight:300;
}

.blog-text {
    color:white;
    font-weight:300;
    text-shadow: 0px 0 4px black !important;
    height:75vh;
    font-family: 'Noto Serif KR', serif !important;
}

.blog-nav {
    height: 70px;
    width:95%;
    margin:0;
    position:absolute;
    left:50%;
    transform:translate(-50%);
    bottom:5px;
    border-radius:12px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.6) !important;
    background-color:rgba(90, 97, 106, 0.7);
}

.blog-nav-btn {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.blog-nav-icon {
    color:white;
    font-size:32px;
}

div.scrollmenu {
  background-color: transparent;
  overflow: auto;
  white-space: nowrap;
}

div.scroll {
    margin-top:20px;
    margin-left:10px;
    display: inline-block;
    height:40vh;
    text-shadow:none!important;
}

.quote {
    font-family: 'Noto Serif KR', serif !important;
}

.blog-category {
    border-radius:20px;
    padding-top:1px;
    padding-bottom:1px;
    margin-top:2px;
    margin-bottom:2px;
    display:block:
}

.blog-category:hover {
    text-shadow:none!important;
}

.blog-sidebar-icon {

}


/* ---------------------------------------------------
    BLOG-SIDE BAR STYLE
----------------------------------------------------- */

.sidebar_title {
    color: #204355;
}

.sidebar_item {
    box-shadow: 0px 0 12px #CAC9D1 !important;
}

.bread-side {
    text-decoration:none !important;
    color: ivory;
    font-weight:400;
}

.bread-side .de-active {
    text-decoration:none !important;
    color: gray !important;
    font-weight:400;

}

.non-deco {
    text-decoration:none !important;
    color:ivory;
}

/* ---------------------------------------------------
    BOTTOM NAV BAR
----------------------------------------------------- */
#bottom_menu {
    font-size: 16px !important;
}

/* ---------------------------------------------------
    CARD CUSTOM
----------------------------------------------------- */

.card-custom {
    white-space:normal!important;
}

/* ---------------------------------------------------
    STORAGE CUSTOM
----------------------------------------------------- */

.storage-text {
    color:white;
    font-weight:300;
    text-shadow: 0px 0 4px black !important;
    font-family: 'Noto Serif KR', serif !important;
}