<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Busy Angels</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">

    <script src="{% static 'js/jquery-3.5.1.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Shadows+Into+Light&family=Noto+Serif+KR:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <script defer src="{% static 'js/solid.js' %}"></script>
    <script defer src="{% static 'js/fontawesome.js' %}"></script>
    <script src="{% static 'js/5e973a70e5.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/infinite.min.js' %}"></script>
    <!-- Fengyuan Chen's Datepicker -->
    <link rel="stylesheet" href="{% static 'css/datepicker.min.css' %}">
    <script src="{% static 'js/datepicker.min.js' %}"></script>
</head>
<body>
<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="z-index:2000!important">
    <div class="container">
        <a id="navbar_title" class="navbar-brand" href="{% url 'home' %}">Busy Angels</a>
    </div>
</nav>

{% block content %}
{% endblock %}

    <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>


</body>
</html>