<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Busy Angels</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">

    <script src="{% static 'js/jquery-3.5.1.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Shadows+Into+Light&family=Noto+Serif+KR:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <script defer src="{% static 'js/solid.js' %}"></script>
    <script defer src="{% static 'js/fontawesome.js' %}"></script>
    <script src="{% static 'js/5e973a70e5.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/infinite.min.js' %}"></script>
    <!-- Fengyuan Chen's Datepicker -->
    <link rel="stylesheet" href="{% static 'css/datepicker.min.css' %}">
    <script src="{% static 'js/datepicker.min.js' %}"></script>
</head>
<body>
<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a id="navbar_title" class="navbar-brand" href="{% url 'home' %}">Busy Angels</a>
        <div class="btn_container" id="sidebarCollapse">
            <div class="btn_bar"></div>
            <div class="btn_bar"></div>
            <div class="btn_bar"></div>
        </div>
    </div>
</nav>
<nav id="sidebar">
    <div id="dismiss">
        <i class="fas fa-arrow-right"></i>
    </div>

    <div id="sidebar_title" class="navbar-collapse">
        <h4>
        {% if user.is_authenticated %}
            안녕하세요,<br> {{user.get_username}} 님
        {% else %}
            안녕하세요.
        {% endif %}
        </h4>
    </div>

    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a id="sidebar_menu" class="nav-link" href="{% url 'home' %}">홈으로</a>
        </li>
        <li>
            <a id="sidebar_menu" class="nav-link" href="#">소개</a>
        </li>
        <li>
            <a id="sidebar_menu" class="nav-link" href="{% url 'assets' %}">경제와 함께</a>
        </li>
        <li>
            <a id="sidebar_menu" class="nav-link" href="{% url 'books' %}">책과 함께</a>
        </li>
        <li>
            <a id="sidebar_menu" class="nav-link" href="#">INTO THE WEB</a>
        </li>
        {% if user.is_authenticated %}
        <li>
            <a id="sidebar_menu" class="nav-link" href="{% url 'logout' %}">로그아웃</a>
        </li>
        {% else %}
        <li>
            <a id="sidebar_menu" class="nav-link" href="{% url 'login' %}">로그인</a>
        </li>
        {% endif %}
        {% if user.is_authenticated %}
            {% if user.get_username == 'Busy_Angel' %}
            <li>
                <a id="sidebar_menu" class="nav-link" href="{% url 'my_storage' %}">학습 창고(Private)</a>
            </li>
            {% endif %}
        {% endif %}
    </ul>
</nav>
{% block content %}
{% endblock %}
<div class="overlay"></div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#dismiss, .overlay').on('click', function () {
                $('#sidebar').removeClass('active');
                $('.overlay').removeClass('active');
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').addClass('active');
                $('.overlay').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>
    <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

<script>
    // First we get the viewport height and we multiple it by 1% to get a value for a vh unit
    let vh = window.innerHeight * 0.01;
    // Then we set the value in the --vh custom property to the root of the document
    document.documentElement.style.setProperty(’–vh’, ${vh}px);

    // We listen to the resize event
    window.addEventListener(‘resize’, () => {
    // We execute the same script as before
    let vh = window.innerHeight * 0.01;
    document.documentElement.style.setProperty(’–vh’, ${vh}px);
    });
</script>
</body>
</html>