{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}

{% block content %}
<section id="hero" style="background-image: url('/static/img/pexels-{{rand}}.jpg');">
    <div class="container">
        <div id="top_blank" class="row"></div>
        <div class="row">
            <div class="col-md-3 d-none d-md-block blog-text">
                <div>
                    <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'books' %}" class="bread-side">책과 함께</a></li>
                    {% for a in article %}
                        <li class="breadcrumb-item active" aria-current="page">{{a.title_text}}</li>
                    {% endfor %}
                    </ol>
                    </nav>
                    <hr>
                </div>
                <div>
                    <p>카테고리</p>
                    <ul>
                        <li class="btn btn-outline-light blog-category">경제/경영</li><br>
                        <li class="btn btn-outline-light blog-category">인문</li><br>
                        <li class="btn btn-outline-light blog-category">역사</li><br>
                        <li class="btn btn-outline-light blog-category">과학/기술</li><br>
                        <li class="btn btn-outline-light blog-category">교양</li><br>
                    </ul>
                    <hr>
                </div>
                <div>
                    <p>나의 메뉴</p>
                    <ul>
                        <li class="btn btn-outline-light blog-category"><a href="" class="non-deco">글 수정</a></li><br>
                        <li class="btn btn-outline-light blog-category"><a href="" class="non-deco">글 삭제</a></li><br>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 blog-text" style="overflow:scroll!important">
                {% for a in article %}
                    <div class="row justify-content-center mb-5">
                        <div class="col-12 col-sm-8" style="border-radius:20px;background-color:rgb(0,0,0,0.7);overflow:hidden!important;">
                            <div class="row">
                                <div class="col-5 col-lg-4" style="height:30vh;overflow:hidden">
                                    <img src="{{ a.book.cover.url }}" style="display:inline;height:120%;position:relative;top:50%;left:-10%;transform:translate(0%, -50%);font-weight:400!important">
                                </div>
                                <div class="d-flex col-7 col-lg-8 mt-3 mb-3 flex-column" style="text-shadow:none!important;">
                                    {{a.title_text}}
                                    <hr>
                                    {{a.sub_title}}
                                    <span class="mt-auto" style="font-size:14px">
                                        <hr>
                                        저: {{a.book.author}}, 역: {{a.book.translator}}, 『{{a.book}}』, {{a.book.publisher}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div id="body_content" class="col pt-3 pb-3" style="border-radius:20px;background-color:rgb(0,0,0,0.7);overflow:hidden!important;text-shadow:none!important;line-height:2em!important;font-weight:400!important">
                            {{a.body|safe}}
                        </div>
                    </div>
                    {% for s in a.scrap.all %}
                        <div class="row mb-5">
                            <div id="body_content" class="col pt-3 pb-3" style="border-radius:20px;background-color:rgb(0,0,0,0.7);overflow:hidden!important;text-shadow:none!important;line-height:2em!important;font-weight:400!important">
                                <span style="font-size:24px;">#{{forloop.counter}}</span>
                                <center><i class="fas fa-quote-left mb-3" style="color:ivory!important"></i></center>
                                <div class="row">
                                    <div class="col-1 col-lg-2"></div>
                                    <div class="col-10 col-lg-8" style="color:ivory!important">{{s.quote}}</div>
                                    <div class="col-1 col-lg-2"></div>
                                </div>
                                <center><i class="fas fa-quote-right mt-3" style="color:ivory!important"></i></center>
                                <hr>
                                {{s.comment|safe}}<br>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="row blog-nav">
                <div class="col pt-2">
                    <center>
                        <button class="blog-nav-btn" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-clipboard-list blog-nav-icon" style=""></i>
                        </button><br>
                        <span style="font-size:10px;color:white;font-weight:300">카테고리</span>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Action</a></li>
                        </ul>
                    </center>
                </div>
                <div class="col pt-2">
                    <center>
                        <button class="blog-nav-btn" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-hashtag blog-nav-icon" style=""></i>
                        </button><br>
                        <span style="font-size:10px;color:white;font-weight:300">관련태그</span>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Action</a></li>
                        </ul>
                    </center>
                </div>
                <div class="col pt-2">
                    <center>
                        <button class="blog-nav-btn" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-comment-dots blog-nav-icon" style=""></i>
                        </button><br>
                        <span style="font-size:10px;color:white;font-weight:300">최근댓글</span>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Action</a></li>
                        </ul>
                    </center>
                </div>
                <div class="col pt-2">
                    <center>
                        <button class="blog-nav-btn" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user blog-nav-icon" style=""></i>
                        </button><br>
                        <span style="font-size:10px;color:white;font-weight:300">마이페이지</span>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Action</a></li>
                        </ul>
                    </center>
                </div>
        </div>
    </div>
</section>
{% endblock %}