{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}

{% block content %}
<section id="hero" style="background-image: url('/static/img/pexels-25.jpg');">
    <div class="container">
        <div id="top_blank" class="row"></div>
        <div class="row">
            <form action="" method="POST" enctype="multipart/form-data" autocomplete="off">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <table class="table table-borderless storage-text" style="background-color:rgb(0,0,0,0.3)">
                    <thead>
                        <tr>
                            <th>구분</th>
                            <th>입력</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                {{ form.name.errors }}
                                <label for="id_name">제목:</label>
                            </td>
                            <td>
                                {{ form.name }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.cover.errors }}
                                <label for="id_cover">Cover:</label>
                            </td>
                            <td>
                                {{ form.cover }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.author.errors }}
                                <label for="id_author">저자:</label>
                            </td>
                            <td>
                                {{ form.author }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.translated.errors }}
                                <label for="id_translated">번역본:</label>
                            </td>
                            <td>
                                {{ form.translated }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.translator.errors }}
                                <label for="id_translator">역자:</label>
                            </td>
                            <td>
                                {{ form.translator }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.publisher.errors }}
                                <label for="id_publisher">출판사:</label>
                            </td>
                            <td>
                                {{ form.publisher }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.sub_category.errors }}
                                <label for="id_sub_category">카테고리:</label>
                            </td>
                            <td>
                                {{ form.sub_category }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.slug.errors }}
                                <label for="id_slug">Slug(Tag):</label>
                            </td>
                            <td>
                                {{ form.slug }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <input type="submit" class="btn btn-primary" value="추가하기">
            </form>
        </div>
    </div>
</section>
{% endblock %}