{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}

{% block content %}
<section id="hero" style="background-image: url('/static/img/pexels-{{rand}}.jpg');background-attachment:fixed">
    <div class="container" style="overflow:scroll!important;height:95vh!important;">
        <div id="top_blank" class="row"></div>
        <div class="row">
            <div class="col">
                <form action="" method="POST" enctype="multipart/form-data" autocomplete="off">
                {% csrf_token %}
                    <table class="table storage-text" style="background-color:rgb(0,0,0,0.3)">
                        <thead>
                            <tr>
                                <th>구분</th>
                                <th>입력</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>{{ form.book.errors }}<label for="id_book">Book:</label></td>
                                <td>{{ form.book }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.title_text.errors }}<label for="id_title_text">Title text:</label></td>
                                <td><input class="form-control" type="text" name="title_text" maxlength="50" required="" id="id_title_text"></td>
                            </tr>
                            <tr>
                                <td>{{ form.sub_title.errors }}<label for="id_sub_title">Sub title:</label></td>
                                <td><input class="form-control" type="text" name="sub_title" maxlength="100" required="" id="id_sub_title"></td>
                            </tr>
                            <tr>
                                <td>{{ form.title_photo.errors }}<label for="id_title_photo">Title photo:</label></td>
                                <td>{{ form.title_photo }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.written_by.errors }}<label for="id_written_by">Written_by:</label></td>
                                <td>{{ form.written_by }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.slug.errors }}<label for="id_slug">Slug:</label></td>
                                <td><input type="text" name="slug" maxlength="50" required="" id="id_slug"></td>
                            </tr>
                        </tbody>
                    </table>
                    <label for="id_body" class="storage-text">Body:</label>
                    <!--{{ form.body }}-->
                    <textarea name="body" cols="40" rows="10" id="id_body" hidden="true" style="display: none;"></textarea>
                    <script>
                        var settings_id_body = {"width": "100%", "height": 480, "lang": "en-US", "toolbar": [["style", ["style"]], ["font", ["bold", "italic", "underline", "superscript", "subscript", "strikethrough", "clear"]], ["fontname", ["fontname"]], ["fontsize", ["fontsize"]], ["color", ["color"]], ["para", ["ul", "ol", "paragraph"]], ["height", ["height"]], ["table", ["table"]], ["insert", ["link", "picture", "video", "hr"]], ["view", ["fullscreen", "codeview"]], ["help", ["help"]]], "url": {"language": "/static/summernote/lang/summernote-en-US.min.js", "upload_attachment": "/summernote/upload_attachment/"}};
                    </script>
                    <style>
                        iframe.note-fullscreen {
                            position: fixed;
                            top: 0;
                            left: 0;
                            width: 100%!important;
                            height: 100vh!important;
                            z-index: 4000;
                        }
                    </style>
                    <div class="summernote-div" cols="40" rows="10" width="100%" height="480">
                        <iframe id="id_body_iframe" src="/summernote/editor/id_body/" frameborder="0" width="100%" height="480" style="height: 480px;"></iframe>
                    </div>
                    <input type="submit" class="btn btn-success mt-2" value="포스트">
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}